:root {
  --dark-bg: #272727;
  --light-text: #e0e0e0;
  --gray-text: gray;
}

* {
  margin: 0;
  font-family: Verdana, Arial;
}

* a {
  color: #abc4ed;
}

body {
  background-color: rgb(18, 18, 18);
}

main {
  float: left;
  width: 86%;
}

.ad {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#main-navigation {
  font-size: 13px;
  background-color: #2e51a2;
}

#main-navigation ul {
  margin: 0;
  padding: 0; /* This fixes the left spacing issue */
  list-style: none; /* Move this from li to ul */
}

#main-navigation li {
  display: inline-block; /* Use inline-block instead of inline for better spacing control */
  vertical-align: middle; /* Aligns the image with text */
}

#main-navigation a {
  color: #fff;
  padding: 10px 15px; /* Increased horizontal padding for better spacing */
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; /* Replace the <strong> tag */
  display: inline-block; /*make padding work better */
}

#main-navigation a:hover {
  background-color: #272727;
}
#main-navigation img {
  height: 34px;
  width: 37px;
  padding: 0 10px; /* Add some spacing around the icon */
}

#mal-bunkasai-ad {
  background-color: pink;
  text-align: center;
  padding: 8px;
}

#title {
  background-color: #272727;
  padding: 5px 10px 5px 10px; /* top right bottom left */
  margin-bottom:10px;
  border-bottom: solid 1px gray;
}

#japanese-title {
  color: #e0e0e0;
}

#english-title {
  color: gray;
}

#main-picture {
  height: auto; 
  width: 250px;
  margin-left: 12px;
}

.btn-add {
  width: 235px;
  display: block;
  font-size: 12px;
  padding: 2px 3px;
  margin-left: 12px;
  margin-bottom: 10px;
  text-decoration: none;
  border-bottom: 1px solid #2e51a2;
}

#sidebar {
  float: left;
  width: 14%;
  border-right: solid 1px #414141;
  box-sizing: border-box;
}

.sidebar-section {
  width: 250px;
  margin-left: 12px;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.sidebar-section h2 {
  color: #e0e0e0;
  font-size: 12px;
  font-weight: 700;
  padding: 3px 0;
  margin: 4px 0 5px;
  border-bottom: solid 1px #414141;
}

.sidebar-section p {
  color: #e0e0e0;
  font-size: 11px;
  padding: 3px 0px;
}

.sidebar-section summary {
  color: #abc4ed;
  line-height: 1.5em;
  font-size: 11px;
}

.sidebar-section summary:hover {
  cursor: pointer;
  text-decoration: underline;
}

.sidebar-section strong {
  color: #BBBBBB;
  font-size: 11px;
  font-weight: 700px;
}

.sidebar-section a {
  font-size: 11px;
  text-decoration: none;
}

.sidebar-section a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.sidebar-section img {
  height: 20px;
  padding: 4px;
  vertical-align: middle;
}


#available-at a {
  margin: 0px 0px 0px 6px;
}

#socials {
  width: 240px;
  margin: 10px 12px 10px 12px;
}

#mini-navbar {
  margin: 5px 5px 10px;
  padding: 0px 0px 2px;
  border-bottom: solid 1px #e0e0e0;
}

#mini-navbar a {
  color: #a3a3a3;
  font-size: 12px;
  font-weight: 400;
  padding: 0px 4px;
  text-decoration: none;
}

#mini-navbar a:hover {
  color: #121212;
  background-color: #f0f0f0;
}

#details {

  border-bottom: solid 1px gray;
}

#details a {
  color: gray;
  font-size: 12px;
  text-decoration: none;
}

#details a:hover {
  color: black;
  background-color: white;
}

#directory {
  color: #e0e0e0;
  font-size: 12px;
  padding: 0px 0px 2px;
  margin-left: 12px;
}

#directory a {
  color: #abc4ed;
  text-decoration: none;
  font-size: 12px;
}

#stats-block {
  height: 90px;
  width: 650px;
  /* padding: 8px 10px; */
  margin-left: 8px;
  display: inline-block;
  border: solid 1px #414141;
  background-color: #181818;
}

#score-section {
  float: left;
  width: 17%;
  box-sizing: border-box;
  border-right: solid 1px #414141;
  text-align: center;
  padding: 8px 10px;
}

#score {
  color: #e0e0e0;
  background-color: #2e51a2;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  padding: 3px 15px; /* Add padding inside the blue box */
  margin-bottom: 8px;
}

#rating {
  color: #e0e0e0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 2px 0; /* Space above and below */
}

#number-of-users {
  color: #e0e0e0;
  font-size: 10px;
  text-align: center;
  /* width: 75px; */
}

#stats-section {
  float: left;
  width: 83%;
  box-sizing: border-box;
  color: #e0e0e0;
  padding: 15px 15px;
  font-size: 16px;
  font-weight: bold;
}

#info {
  color: #414141;
  margin-left: 15px;
  font-weight: normal;
}

#info a {
  color: #abc4ed;
  text-decoration: none;
  font-size: 10px;
}

.rating {
  color: white;
  font-family: tahoma;
  font-size: 25px;
  margin-left: 15px;
}

.number-of-users {
  color: white;
  font-size: 10px;
  text-align: center;
}

.studio {
  color: gray;
  font-size: 12px;
  margin-left: 0px;
}

.studio a {
  text-decoration: none;
  margin-left: 12px;
  margin-right: 12px;
}

.solo-leveling-trailer {
  margin-left: 12px;
}

.add-to-my-list-button {
  color: #fff;
  background-color: #4f74c8;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 11px;
  margin-left: 12px;
  margin-right: 1px;
}

.add-to-my-list-button-section {
  height: 30px;
  width: 550px;
  margin-left: 12px;
  background-color:#272727;
  border: solid 1px #272727;
}

.review, .episode {
  color: #fff;
  background-color: #353535;
  font-size: 11px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 50px;
  border-radius: 4px;
  margin-right: 1px;
}

.synopsis, .background, .related-entries, .MALxJapan-title, .characters-section, .characters-voice-actors, .staff, .opening-theme, .ending-theme, .episode-videos {
  color: #fff;
  margin-left: 12px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  border-bottom: solid 1.5px #414141;
}

.synopsis-description, .background-description {
  color: #fff;
  font-size: 11px;
  margin-left: 12px;
}

.entry-section {
  border-bottom: solid 1.5px #414141;
  margin-left: 12px;
}

.entry-image {
  margin-left: 12px;
}

.entry-type {
  color: #fff;
  font-size: 11px;
  margin-left: 12px;
}

.entry-title {
  color: #abc4ed;
  font-size: 11px;
  text-decoration: none;
  margin-left: 12px;
}

  .summary-text {
    color: #fff;
    font-size: 12px;
    margin-left: 12px;
  }

  .summary-text a {
    color: #abc4ed;
  }

  .summary-link {
    margin-left: 58px;
  }

  .MALxJapan-title a {
    color: #abc4ed;
    margin-right: -90%;
    text-decoration: none;
  }

  .MALxJapan-ad img {
    margin-left: 12px;
  }

  .MALxJapan-ad a {
    color: #abc4ed;
    font-size: 12px;
    text-decoration: none;
    margin-left: 12px;;
  }

  .character img {
    margin-left: 12px;
  }

  .character a {
    color: #abc4ed;
    font-size: 12px;
    text-decoration: none;
  }

  .character p {
    color: #fff;
    font-size: 11px;
  }

  .staff img {
    margin-left: 12px;
  }

  .staff a {
    color: #abc4ed;
    font-size: 12px;
    text-decoration: none;
  }

  .staff p {
    color: #fff;
    font-size: 11px;
    margin-left: 58px;
  }

  .opening-theme-section, .ending-theme-section {
    color: #fff;
    font-size: 11px;
    height: auto; 
    margin-left: 12px;
  }

  .episode-videos-thumbnails {
    margin-left: 12px;
  }

  .episode-videos-thumbnails img{
    margin: 2px;
    height: auto;
    width: 200px;
  }