* {
  margin: 0;
  font-family: Arial;
}

* a{
  color: #abc4ed;
}
body {
  background-color: rgb(18, 18, 18);
}

.ad {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.categories {
  background-color: #2e51a2;
}

.categories a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 5px;
  text-decoration: none;
}

.categories img {
  height: 34px;
  width: 37px;
  margin: 0px;
  padding: 1px 5px;
}

.mal-bunkasai-ad {
  background-color: pink;
  text-align: center;
  padding: 8px;
}

.japanese-title, .english-title {
  background-color: #272727;
  padding-left: 10px;
}

.japanese-title {
  color: white;
  padding-top: 5px;
}

.english-title {
  color: gray;
  padding-bottom: 5px;
  border-bottom: solid 1px gray;
}

.solo-leveling-main-picture {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 2px;
  margin-bottom: 10px;
}

.add-to-my-list {
  border-bottom: 1px solid #2e51a2;
  text-decoration: none;
  width: 250px;
  margin-left: 12px;
  margin-bottom: 10px;
}

.add-to-my-list a {
  text-decoration: none;
  margin-left: 5px;
  color: #abc4ed;
  font-size: 12px;
}

.add-to-my-favorites {
  border-bottom: 1px solid #2e51a2;
  text-decoration: none;
  width: 250px;
  margin-left: 12px;
  margin-bottom: 10px;
}

.add-to-my-favorites a {
  text-decoration: none;
  margin-left: 5px;
  color: #abc4ed;
  font-size: 12px;
}

.socials {
  margin-left: 10px;
}

.alternative-titles, .information, .statistics, .available-at, .resources, .streaming-platforms {
  color: white;
  padding-left: 2px;
  padding-bottom: 5px;
  border-bottom: solid 1px gray;
  margin-left: 12px;
  width: 250px;
}

.alternative-titles-section, .information-section, .statistics-section {
  color: gray;
  margin: 5px 12px;
  width: 250px;
  font-size: 12px;
}

.information-section a {
  text-decoration: none;
}

.information-section a:hover {
  text-decoration: underline;
}

.alternative-titles-section summary {
  color: #abc4ed;
}

.available-at-section img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.available-at-section a, .resources-section a {
  text-decoration: none;
}

.available-at-section, .resources-section
.official-site, .en-twitter, .pr-twitter, .resources-section {
  margin: 5px 12px;
  font-size: 12px;
}

.resources-section img {
  height: 20px;
  width: 20px;
  margin-left: 12px;
}

.resources-section summary {
  color: #abc4ed;
  margin-left: 12px;
}

.resources-section summary:hover {
  cursor: pointer;
  text-decoration: underline;
}

.available-at-section summary {
  color: #abc4ed;
  margin-left: 12px;
}

.official-site img {
  margin-left: 10px;
}

.aniDB {
  margin-top: 12px;
}

.streaming-platforms-section img{
  height: 20px;
  width: 20px;
  margin-top: 5px;
  margin-left: 12px;
}

.streaming-platforms-section a {
  text-decoration: none;
  font-size: 12px;
}

.streaming-platforms-section summary {
  color: #abc4ed;
  font-size: 12px;
  margin-left: 20px;
}
.available-at-section a:hover, .resources-section a:hover, .streaming-platforms-section a:hover {
  text-decoration: underline;
}

.details {
  margin-left: 12px;
  border-bottom: solid 1px gray;
}

.details a {
  color: gray;
  font-size: 12px;
  text-decoration: none;
}

.details a:hover {
  color: black;
  background-color: white;
}

.directory {
  color: white;
  font-size: 12px;
  word-spacing: 5px;
  margin-left: 12px;
}

.directory a {
  text-decoration: none;
  font-size: 12px;
}

.score {
  color: white;
  width: 50px;
  font-size: 12px;
  padding: 2px 10px;
  margin-left: 12px;
  margin-bottom: 2px;
  text-align: center;
  background-color: #2e51a2;
}

.score-section {
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 12px;
  border: solid 1px #414141;
  background-color: #272727;
}

.score-subsection {
  color: white;
  width: 550px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 12px;
  border: solid 1px #414141;
  text-align: center;
  background-color: #272727;
}

.rating {
  color: white;
  margin-left: 18px;
  font-family: tahoma;
  font-size: 25px;
}

.number-of-users {
  color: white;
  font-size: 10px;
  margin-left: 15px;
}

.studio {
  color: gray;
  font-size: 12px;
  margin-left: 0px;
}

.studio a {
  text-decoration: none;
  margin-left: 12px;
  margin-right: 12px;
}

.solo-leveling-trailer {
  margin-left: 12px;
}

.add-to-my-list-button {
  color: #fff;
  background-color: #4f74c8;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 11px;
  margin-left: 12px;
  margin-right: 1px;
}

.add-to-my-list-button-section {
  height: 30px;
  width: 550px;
  margin-left: 12px;
  background-color:#272727;
  border: solid 1px #272727;
}

.review, .episode {
  color: #fff;
  background-color: #353535;
  font-size: 11px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 50px;
  border-radius: 4px;
  margin-right: 1px;
}

.synopsis, .background, .related-entries, .MALxJapan-title, .characters-section, .characters-voice-actors, .staff, .opening-theme, .ending-theme, .episode-videos {
  color: #fff;
  margin-left: 12px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  border-bottom: solid 1.5px #414141;
}

.synopsis-description, .background-description {
  color: #fff;
  font-size: 11px;
  margin-left: 12px;
}

.entry-section {
  border-bottom: solid 1.5px #414141;
  margin-left: 12px;
}

.entry-image {
  margin-left: 12px;
}

.entry-type {
  color: #fff;
  font-size: 11px;
  margin-left: 12px;
}

.entry-title {
  color: #abc4ed;
  font-size: 11px;
  text-decoration: none;
  margin-left: 12px;
}

  .summary-text {
    color: #fff;
    font-size: 12px;
    margin-left: 12px;
  }

  .summary-text a {
    color: #abc4ed;
  }

  .summary-link {
    margin-left: 58px;
  }

  .MALxJapan-title a {
    color: #abc4ed;
    margin-right: -90%;
    text-decoration: none;
  }

  .MALxJapan-ad img {
    margin-left: 12px;
  }

  .MALxJapan-ad a {
    color: #abc4ed;
    font-size: 12px;
    text-decoration: none;
    margin-left: 12px;;
  }

  .character img {
    margin-left: 12px;
  }

  .character a {
    color: #abc4ed;
    font-size: 12px;
    text-decoration: none;
  }

  .character p {
    color: #fff;
    font-size: 11px;
  }

  .staff img {
    margin-left: 12px;
  }

  .staff a {
    color: #abc4ed;
    font-size: 12px;
    text-decoration: none;
  }

  .staff p {
    color: #fff;
    font-size: 11px;
    margin-left: 58px;
  }

  .opening-theme-section, .ending-theme-section {
    color: #fff;
    font-size: 11px;
    height: auto; 
    margin-left: 12px;
  }

  .episode-videos-thumbnails {
    margin-left: 12px;
  }

  .episode-videos-thumbnails img{
    margin: 2px;
    height: auto;
    width: 200px;
  }