* {
  margin: 0;
  font-family: Verdana, Arial;
}

* a {
  color: #abc4ed;
}

body {
  background-color: rgb(18, 18, 18);
  min-width: 62.5rem; /* Prevents the layout from breaking on small screens */
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  min-width: 0; /* Allows flex item to shrink below its content size */
}

.content-wrapper {
  display: flex;
}

.ad {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#main-navigation {
  font-size: 0.8125rem;
  background-color: #2e51a2;
}

#main-navigation ul {
  margin: 0;
  padding: 0; /* This fixes the left spacing issue */
  list-style: none; /* Move this from li to ul */
}

#main-navigation li {
  display: inline-block; /* Use inline-block instead of inline for better spacing control */
  vertical-align: middle; /* Aligns the image with text */
}

#main-navigation a {
  color: #fff;
  padding: 0.625rem 0.9375rem; /* Increased horizontal padding for better spacing */
  text-decoration: none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold; /* Replace the <strong> tag */
  display: inline-block; /*make padding work better */
}

#main-navigation a:hover {
  background-color: #272727;
}

#main-navigation img {
  height: 2.125rem;
  width: 2.3125rem;
  padding: 0 0.625rem; /* Add some spacing around the icon */
}

#mal-bunkasai-ad {
  background-color: pink;
  text-align: center;
  padding: 0.5rem;
}

#title {
  background-color: #272727;
  padding: 0.3125rem 0.625rem 0.3125rem 0.625rem; /* top right bottom left */
  margin-bottom:0.625rem;
  border-bottom: solid 1px gray;
}

#japanese-title {
  color: #e0e0e0;
}

#english-title {
  color: gray;
}

#main-picture {
  height: auto; 
  /* width: 15.625rem; */
  width: 95%;
  margin-left: 0.75rem;
  margin-bottom: 0.75rem;
}

.btn-add {
  width: 90%;
  display: block;
  font-size: 0.75rem;
  padding: 0.125rem 0.1875rem;
  margin-left: 0.75rem;
  margin-bottom: 0.625rem;
  text-decoration: none;
  border-bottom: solid 1px #2e51a2;
}

#sidebar {
  display: flex;
  flex-direction: column;
  width: 14%;
  min-width: 17.188rem; /* Prevents sidebar from getting too narrow */
  border-right: solid 1px #414141;
  box-sizing: border-box;
}

.sidebar-section {
  /* width: 15.625rem; */
  width: 95%;
  margin-left: 0.75rem;
  margin-bottom: 1.25rem;
  padding-bottom: 0.9375rem;
}

.sidebar-section h2 {
  color: #e0e0e0;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.1875rem 0;
  margin: 0.25rem 0 0.3125rem;
  border-bottom: solid 1px #414141;
}

.sidebar-section p {
  color: #e0e0e0;
  font-size: 0.75rem;
  padding: 0.1875rem 0px;
}

.sidebar-section summary {
  color: #abc4ed;
  line-height: 1.5em;
  font-size: 0.75rem;
}

.sidebar-section summary:hover {
  cursor: pointer;
  text-decoration: underline;
}

.sidebar-section strong {
  color: #BBBBBB;
  font-size: 0.75rem;
  font-weight: 700px;
}

.sidebar-section a {
  font-size: 0.75rem;
  text-decoration: none;
}

.sidebar-section a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.sidebar-section img {
  height: 1.25rem;
  padding: 0.25rem;
  vertical-align: middle;
}


#available-at a {
  margin: 0px 0px 0px 0.375rem;
}

#socials {
  width: 240px;
  margin: 0.625rem 0.75rem 0.625rem 0.75rem;
}

#mini-navbar {
  margin: 0.3125rem 0.3125rem 0.625rem;
  padding: 0px 0px 0.125rem;
  border-bottom: solid 1px #e0e0e0;
}

#mini-navbar a {
  color: #a3a3a3;
  font-size: 0.75rem;
  font-weight: 400;
  padding: 0px 0.25rem;
  text-decoration: none;
}

#mini-navbar a:hover {
  color: #121212;
  background-color: #f0f0f0;
}

#details {

  border-bottom: solid 1px gray;
}

#details a {
  color: gray;
  font-size: 0.75rem;
  text-decoration: none;
}

#details a:hover {
  color: black;
  background-color: white;
}

#directory {
  color: #e0e0e0;
  font-size: 0.75rem;
  padding: 0px 0px 0.125rem;
  margin-left: 0.75rem;
}

#directory a {
  color: #abc4ed;
  text-decoration: none;
  font-size: 0.75rem;
}

#stats-block {
  height: 90px;
  width: 650px;
  /* padding: 0.5rem 0.625rem; */
  margin-left: 0.5rem;
  display: inline-block;
  border: solid 1px #414141;
  background-color: #181818;
}

#score-section {
  float: left;
  width: 17%;
  box-sizing: border-box;
  border-right: solid 1px #414141;
  text-align: center;
  padding: 0.5rem 0.625rem;
}

#score {
  color: #e0e0e0;
  background-color: #2e51a2;
  text-align: center;
  font-size: 0.625rem;
  font-weight: bold;
  padding: 0.1875rem 0.9375rem; /* Add padding inside the blue box */
  margin-bottom: 0.5rem;
}

#rating {
  color: #e0e0e0;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0.125rem 0; /* Space above and below */
}

#number-of-users {
  color: #e0e0e0;
  font-size: 0.625rem;
  text-align: center;
  /* width: 70.3125rem; */
}

#stats-section {
  float: left;
  width: 83%;
  box-sizing: border-box;
  color: #e0e0e0;
  padding: 0.9375rem 0.9375rem;
  font-size: 1rem;
  font-weight: bold;
}

#info {
  color: #414141;
  margin-left: 0.9375rem;
  font-weight: normal;
}

#info a {
  color: #abc4ed;
  text-decoration: none;
  font-size: 0.625rem;
}

.rating {
  color: white;
  font-family: tahoma;
  font-size: 1.563rem;
  margin-left: 0.9375rem;
}

.number-of-users {
  color: white;
  font-size: 0.625rem;
  text-align: center;
}

.studio {
  color: gray;
  font-size: 0.75rem;
  margin-left: 0px;
}

.studio a {
  text-decoration: none;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.solo-leveling-trailer {
  margin-left: 0.75rem;
}

/* .add-to-my-list-button-section {
  height: 1.875rem;
  width: 34.375rem;
  margin-left: 0.75rem;
  background-color:#272727;
  border: solid 1px #272727;
  font-size: 0.688rem;
} */

.add-to-my-list-button-section button {
  height: 1.875rem;
  width: 8.125rem;
  margin-left: 0.75rem;
  color: #fff;
  background-color:#4f74c8;
  border: solid 1px #272727;
  border-radius: 4px;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  font-size: 0.688rem;
  margin-left: 0.75rem;
  margin-right: 0.0625rem;
}

.add-to-my-list-button-section label {
  font-size: 0.688rem;
}

.add-to-my-list-button-section option, .add-to-my-list-button-section select, .add-to-my-list-button-section input {
  color: #fff;
  background-color: #353535;
}

.review, .episode {
  color: #fff;
  background-color: #353535;
  font-size: 10.0625rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  padding-left: 0.625rem;
  padding-right: 50px;
  border-radius: 4px;
  margin-right: 0.0625rem;
}

.synopsis, .background, .related-entries, .MALxJapan-title, .characters-section, .characters-voice-actors, .staff, .opening-theme, .ending-theme, .episode-videos {
  color: #fff;
  margin-left: 0.75rem;
  margin-bottom: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-size: 0.75rem;
  border-bottom: solid 1px #414141;
}

.synopsis-description, .background-description {
  color: #fff;
  font-size: 0.75rem;
  margin-left: 0.75rem;
}

.entry-section {
  border-bottom: solid 1px #414141;
  margin-left: 0.75rem;
}

.entry-image {
  margin-left: 0.75rem;
}

.entry-type {
  color: #fff;
  font-size: 0.688rem;
  margin-left: 0.75rem;
}

.entry-title {
  color: #abc4ed;
  font-size: 0.688rem;
  text-decoration: none;
  margin-left: 0.75rem;
}

  .summary-text {
    color: #fff;
    font-size: 0.75rem;
    margin-left: 0.75rem;
  }

  .summary-text a {
    color: #abc4ed;
  }

  .summary-link {
    margin-left: 4.313rem;
  }

  .MALxJapan-title a {
    color: #abc4ed;
    margin-right: -90%;
    text-decoration: none;
  }

  .MALxJapan-ad img {
    margin-left: 0.75rem;
  }

  .MALxJapan-ad a {
    color: #abc4ed;
    font-size: 0.75rem;
    text-decoration: none;
    margin-left: 0.75rem;;
  }

  .character img {
    margin-left: 0.75rem;
  }

  .character a {
    color: #abc4ed;
    font-size: 0.75rem;
    text-decoration: none;
  }

  .character p {
    color: #fff;
    font-size: 0.688rem;
  }

  .staff img {
    margin-left: 0.75rem;
  }

  .staff a {
    color: #abc4ed;
    font-size: 0.75rem;
    text-decoration: none;
  }

  .staff p {
    color: #fff;
    font-size: 0.688rem;
    margin-left: 50.5rem;
  }

  .opening-theme-section, .ending-theme-section {
    color: #fff;
    font-size: 0.688rem;
    height: auto; 
    margin-left: 0.75rem;
  }

  .episode-videos-thumbnails {
    margin-left: 0.75rem;
  }

  .episode-videos-thumbnails img{
    margin: 0.125rem;
    height: auto;
    width: 12.5rem;
  }